<section>
  <div class="presentation">
    <img src="../../../assets/Logos/icon_WB.png" alt="" />
    <p>
      Ce projet respecte l’univers cinématographique des films Batman récents.
      Version Nolan & Snyder & Reeves
    </p>
  </div>
</section>
<footer>
  <a href="">
    <img src="../../../assets/Logos/logo_sayna_white.png" alt="" />
  </a>
  <a href="">
    <img src="../../../assets/Logos/icon_x.png" alt="" />
  </a>
  <a href="">
    <img src="../../../assets/Logos/icon_DC.png" alt="" />
  </a>
  <a href="">
    <img src="../../../assets/Logos/icon_facebook.png" alt="" />
  </a>
  <a href="">
    <img src="../../../assets/Logos/icon_ig.png" alt="" />
  </a>
  <a href="">
    <img src="../../../assets/Logos/icon_tw.png" alt="" />
  </a>
</footer>
