<div>
  <a class="logohover" href="">
    <img src="../../assets/Logos/logo_bat_flèche.png" alt="logo_bat_flèche" />
  </a>
  <a class="logohover" href="">
    <img src="../../assets/Logos/icon_facebook.png" alt="icon_facebook" />
  </a>
  <a class="logohover" href="">
    <img src="../../assets/Logos/icon_ig.png" alt="icon_ig" />
  </a>
  <a class="logohover" href="">
    <img src="../../assets/Logos/icon_tw.png" alt="icon_tw" />
  </a>
  <a class="logohover" href="">
    <img
      src="../../assets/Logos/logo_bat_flèche_2.png"
      alt="logo_bat_flèche_2"
    />
  </a>
</div>
