@import './styleHome/_batmanAuCinema.scss';
@import './styleHome/_contact.scss';
@import './styleHome/_leJoker.scss';
@import './styleHome/_multimedia.scss';
    section {
        div {
            margin: 0 auto;
            text-align: center;
            p {
                padding-top: 20%;
                width: 50%;
                margin: 0 auto;
            }
            h2 {
                padding: 25px 0;
                margin-bottom: 35px;
                font-size: 30px;
                font-weight: bold;
            }
            .cta {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 248px;
                a {
                    text-decoration: none;
                    color: white;
                    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 0, 0, 0.4));
                    margin: 0 20px;
                    padding: 20px 40px;
                }
                a:hover {
                    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 0, 0, 1));
                }
            }
        }
    }
