<nav class="container">
  <a class="logohover" routerLink="home">
    <img class="orig" src="../../assets/Logos/logohome.png" alt="logo" />
  </a>
  <ul>
    <li>
      <a routerLink="home" routerLinkActive="active"> HOME</a>
    </li>
    <li>
      <a routerLink="game" routerLinkActive="active">GAME</a>
    </li>
    <li>
      <a routerLink="eshop" routerLinkActive="active">ESHOP</a>
    </li>
    <li>
      <a routerLink="monCompt" routerLinkActive="active">MON COMPTE</a>
    </li>
  </ul>
</nav>
